<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/template :: index_head">

</head>
<body>
<nav th:replace="admin/template :: navbar"></nav>
<div align="center">
    <h2>Add Employee</h2>
    <hr>
    <br>
    <form action="#" th:action="@{/admin/employees/saveEmployee}" th:object="${addEmployeeRequest}" method="POST">
        <input id = "firstName" type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4"/>
        <input id = "lastName" type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4" />
        <input id = "userName" type="text" th:field="*{userName}" placeholder="User Name" class="form-control mb-4 col-4" />
        <input id = "password" type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4" />
        <input id = "position" type="text" th:field="*{position}" placeholder="Position" class="form-control mb-4 col-4" />
        <label>Select Branch</label>
        <select th:field="*{branchId}" class="form-control" id="exampleFormControlSelect1" style="max-width:33%;" >
            <div th:each="branch : ${branches}">
                <option th:value="${branch.id}" th:text="${branch.address.city} +' '+ ${branch.address.street} +' '+ ${branch.address.streetNumber}"/>
            </div>
        </select>
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Add Employee</button>
    </form>
</div>
<footer th:replace="admin/template :: app_footer"></footer>
</body>
</html>