<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: index_head">

</head>
<body>
<nav th:replace="template :: navbar"></nav>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Company branch
    </button>
    <div class="dropdown-menu" th:each="branch: ${branches}" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="${branch}">Action</a>

    </div>
</div>
<footer th:replace="template :: app_footer"></footer>
</body>
</html>