<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="employee/template :: index_head"/>
<head>
    <link th:href="@{css/navbar.css}" rel="stylesheet" />
    <link th:href="@{css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav th:replace="employee/template :: navbar"/>
<div align="center">
    <h2>Add car</h2>
    <hr>
    <br>
    <form action="#" th:action="@{/employee/rentals/add}" th:object="${addRentalRequest}" method="POST">
        <label for="ReturnDate">Return date</label>
        <input id = "ReturnDate" type="date" th:field="*{returnDate}" class="form-control mb-4 col-4"/>
        <label for="overduePenalty">Overdue Penalty</label>
        <input id = "overduePenalty" type="text" th:field="*{overduePenalty}" class="form-control mb-4 col-4" />
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Add Rental</button>
    </form>
</div>
<footer th:replace="employee/template :: app_footer"></footer>
</body>
</html>