<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="employee/template :: index_head"/>
<head>
    <link th:href="@{../css/navbar.css}" rel="stylesheet" />
    <link th:href="@{../css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav th:replace="employee/template :: navbar"></nav>
<br>
<h3>List Of Invoices</h3>

<br>
<div align="center">
    <table border ="1">
        <thead>
        <tr>
            <th>Invoice Id</th>
            <th>Issue date</th>
            <th>Overdue Penalty</th>
            <th>Rental Cost</th>
            <th>Date from</th>
            <th>Date to</th>
            <th>Customer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.id}"/>
            <td th:text="${invoice.issueDate}"/>
            <td th:text="${invoice.rental.overduePenalty}"/>
            <td th:text="${invoice.rental.reservation.cost}"/>
            <td th:text="${invoice.rental.reservation.reservationStart}"/>
            <td th:text="${invoice.rental.returnDate}"/>
            <td th:text="${invoice.rental.reservation.customer}"/>
        </tr>
        </tbody>
    </table>
</div>
<br>
<a th:href="@{/employee/panel}" class="btn btn-secondary btn-sm mb-3">Return</a>

<footer th:replace="employee/template :: app_footer"></footer>
</body>
</html>