<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="employee/template :: index_head">
</head>
<body>
<nav th:replace="employee/template :: navbar"></nav>
<br>

<div align="center">
    <a th:href="@{/employee/cars}" class="btn btn-primary btn-lg">Cars</a>
    <a th:href="@{/employee/reservations}" class="btn btn-info btn-lg">Reservations</a>
    <a th:href="@{/employee/rentals}" class="btn btn-primary btn-lg">Rentals</a>
    <a th:href="@{/employee/invoices}" class="btn btn-info btn-lg">Invoices</a>
</div>

<footer th:replace="employee/template :: app_footer"></footer>
</body>
</html>