<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="employee/template :: index_head">
</head>
<head>
    <link th:href="@{css/navbar.css}" rel="stylesheet" />
    <link th:href="@{css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav th:replace="employee/template :: navbar"></nav>
<br>

<div align="center">
    <a th:href="@{/employee/cars}" class="btn btn-primary btn-lg btn-block">Cars</a>
    <a th:href="@{/employee/reservations}" class="btn btn-secondary btn-lg btn-block">Reservations</a>
    <a th:href="@{/employee/rentals}" class="btn btn-primary btn-lg btn-block">Rentals</a>
    <a th:href="@{/employee/invoices}" class="btn btn-secondary btn-lg btn-block">Invoices</a>
</div>

<footer th:replace="employee/template :: app_footer"></footer>
</body>
</html>