<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="employee/template :: index_head">
</head>
<head>
    <link th:href="@{../css/navbar.css}" rel="stylesheet" />
    <link th:href="@{../css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav th:replace="employee/template :: navbar"></nav>
<div align="center">
    <br>
    <h2>Reservations</h2>
    <br>
    <table border ="1">
        <thead style="text-align: center">
        <tr>
            <th>Reservation ID</th>
            <th>Car ID</th>
            <th>User</th>
            <th>Cost</th>
            <th>Reservation date</th>
            <th>Reservation from</th>
            <th>Reservation to</th>
            <th>Add rental</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table table-striped" th:each="reservation : ${reservations}">
                <td th:text="${reservation.id}"/>
                <td th:text="${reservation.car.id}"/>
                <td th:text="${reservation.customer.userName}"/>
                <td th:text="${reservation.cost}"/>
                <td th:text="${reservation.reservationDate}"/>
                <td th:text="${reservation.reservationStart}"/>
                <td th:text="${reservation.reservationEnd}"/>
                <td>
                    <a th:href="@{/employee/createRental(reservationId=${reservation.id})}" class="btn btn-success btn-sm">Create Rental</a>
                </td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="employee/template :: app_footer"></footer>
</body>
</html>