<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <h2>Register Form</h2>
    <hr>
    <br>
    <form action="#" th:action="@{/customer/register}" th:object="${addCustomerRequest}" method="POST">

        <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4" />
        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{userName}" placeholder="User Name" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{postalCode}" placeholder="Postal Code" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{street}" placeholder="Street" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{city}" placeholder="City" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{streetNumber}" placeholder="Street Number" class="form-control mb-4 col-4"/>

        <button type="submit" class="btn btn-info col-2">Register</button>

    </form>

</div>



</body>
</html>