<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: index_head">
</head>
<body>
<nav th:replace="template :: navbar"></nav>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block">Cars</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">View rentals</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Create invoice</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">View invoices</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Add car</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">View cars</button>

<footer th:replace="template :: app_footer"></footer>
</body>
</html>
</html>