<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="index_head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>M&K</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-dark bg-dark">
        <div class="logo">
            M&K
        </div>
        <div class="headerDiv">
            Index
        </div>
        <div align="right" class="rightUpperConrerDiv">
            <a href="/" class = "btn btn-primary btn-sm">logout</a>
        </div>
    </nav>
    <footer th:fragment="app_footer" class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">M&K Company    Customer Service   email: mk@mk.com,   tel: (+22) 42 32 535,   fax: (+22) 24 35 546</span>
        </div>
        <script type="text/javascript" th:src="@{js/jquery-3.4.1.js}"></script>
    </footer>
</body>
</html>